.main {
  background: #808080;
}
.dfskp {
  color: #808080;
  border-radius: 2px;
}
.dfskp-sldjf {
  -webkit-color: #808080;
  -moz-color: #808080;
  -ms-color: #808080;
  -o-color: #808080;
  color: #808080;
}
