body{background: #C2AC8B; color: #1C314A;
text-align: center;}

h1 {background: #1E5442; color: #A2C0B6;}

h3 {
	color: #C2AC8B;
	background: #967B51;
}

.content{max-width: 70%; float: left;}

.chapters{
	position: fixed;
	top: 50px;
	right: 100px;
	border: dotted;
	padding: 30px;
	background: #C2A67C;
}

.chap-main{
	margin:0px;
	color: #715428;
}


.chap-second{
	margin: 0 0 0 -30px;
}

.del{text-decoration: line-through;}

.em{
	font-style: italic;
}

.ins{
	text-decoration: underline;
}

a{
	font-size: 30px;
	color: #252158;
	text-decoration: none;
	
}