.colorRed {
  color: red;
  background-color: blue;
  font-size: 35px;
}
.box {
  height: 500px;
  width: 500px;
  border: 1px solid;
  background: #706b73;
  display: none;
}
.box .resetAll {
  font-size: 28px;
  list-style: none;
  background-color: white;
}
.box .button-hide-show {
  height: 35px;
  width: 80px;
  font-size: 26px;
}
