.border {
  border: 1px solid;
}
.fontbase {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__row__logo-header {
  margin-top: 82px;
  margin-left: 150px;
  border: 4px solid #706b73;
  border-radius: 2px;
  width: 149px;
  height: 55px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__row__logo-header__first-letter {
  color: #fa9279;
}
.main__container__row__header--button-nav {
  display: block;
  float: right;
  margin-top: 89px;
  margin-right: 150px;
  height: 30px;
  margin-bottom: 145px;
}
.main__container__row__header--button-nav__line {
  position: relative;
  top: 50%;
  display: block;
  width: 34px;
  height: 4px;
  border-radius: 20px;
  background-color: #706b73;
}
.main__container__row__header--button-nav__line:before,
.main__container__row__header--button-nav__line:after {
  content: "";
  display: inline-block;
  width: 34px;
  height: 4px;
  border-radius: 20px;
  background-color: #706b73;
}
.main__container__row__header--button-nav__line:before {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.main__container__row__header--button-nav__line:after {
  -webkit-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
  -o-transform: translateY(-38px);
  transform: translateY(-38px);
}
.main__container__main-text {
  clear: both;
  color: #706b73;
}
.main__container__main-text h1 {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__main-text h1 span {
  color: #fa9279;
}
.main__container__main-text p .fontbase {
  font-size: 16px;
  font-weight: 400;
}
