.fontbase {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.fontmiddle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  color: #706b73;
}
.fontmin {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
body,
.row {
  margin: 0 auto;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
header {
  background: #f5f5f5 url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.section__header {
  margin-bottom: 5%;
  margin-top: 10%;
}
.section__header h2 {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  font-size: 50px;
}
.section__header span {
  color: #fa9279;
}
.section__header p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #706b73;
}
.main__container__row__logo-header {
  margin-top: 82px;
  margin-left: 150px;
  border: 4px solid #706b73;
  border-radius: 2px;
  width: 149px;
  height: 55px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__row__logo-header__first-letter {
  color: #fa9279;
}
.main__container__row__header--button-nav {
  margin-top: 82px;
  display: block;
  float: right;
  height: 30px;
  margin-bottom: 145px;
}
.main__container__row__header--button-nav__line {
  position: relative;
  top: 50%;
  display: block;
  width: 34px;
  height: 4px;
  border-radius: 20px;
  background-color: #706b73;
}
.main__container__row__header--button-nav__line:before,
.main__container__row__header--button-nav__line:after {
  content: "";
  display: inline-block;
  width: 34px;
  height: 4px;
  border-radius: 20px;
  background-color: #706b73;
}
.main__container__row__header--button-nav__line:before {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.main__container__row__header--button-nav__line:after {
  -webkit-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
  -o-transform: translateY(-38px);
  transform: translateY(-38px);
}
.main__container__main-text {
  clear: both;
  margin: 0 20%;
  color: #706b73;
}
.main__container__main-text h1 {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__main-text h1 span {
  color: #ff5c36;
}
.main__container__main-text p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.main__container__form {
  background-color: #ffffff;
  margin-top: 15%;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main__container__form p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  color: #706b73;
}
.main__container__form p span {
  color: #ff5c36;
}
.main__container__form input,
.main__container__form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  margin-top: 35px;
  font-size: 16px;
}
.main__container__form__btn {
  margin-top: 35px;
  width: 238px;
  height: 55px;
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #ff5c36;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.section__header {
  margin-bottom: 222px;
}
.section__working_box {
  color: #ffffff;
  margin-bottom: 181px;
}
.section__working_box .fa {
  margin: 54px 100px 23px 100px;
  font-size: 50px;
}
.section__working_box h4 {
  margin-bottom: 8%;
}
.section__working_box p {
  padding: 0 48px 50px;
}
.section__working_box button {
  width: 228px;
  height: 55px;
  box-shadow: 0 0 14px rgba(20, 20, 21, 0.05);
  background-color: #ffffff;
  color: #000000;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: 29px;
  top: 235px;
}
.box-tomi {
  background-color: #4eb2f7;
}
.koimona-set {
  background-color: #c049f8;
}
.setting-koire {
  background-color: #817eff;
}
.image-lara {
  background-color: #f74770;
}
.image-lara .fa-camera-retro {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.fea-works__box-images {
  position: relative;
  width: 360px;
  height: 358px;
  margin-bottom: 10px;
}
.fea-works__box-images img {
  width: 360px;
  height: 358px;
}
.fea-works__box-images .signature {
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
.fea-works__box-images .signature:hover {
  opacity: 1;
}
.fea-works__box-images .signature p {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
  margin-top: 25%;
}
.fea-works__box-images .signature button {
  opacity: 0.8;
  background-color: #fa9279;
  border: none;
  border-radius: 50px;
  margin-top: 3%;
  padding: 15px 35px;
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  color: #ffffff;
  font: .fontbase;
  font-size: 20px;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  padding: 0px;
  list-style-type: none;
}
.accordeon-test {
  margin-bottom: 150px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.accordeon-test .panel-group .panel-heading {
  background: #fa9279;
  color: #ffffff;
}
.accordeon-test a:hover,
.accordeon-test a:active {
  text-decoration: none;
}
.feedback-slider .slick-active {
  outline: none;
}
.feedback-slider__feedback-box {
  margin: 5%;
}
.feedback-slider__feedback-box__img {
  margin-bottom: -50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 rgba(20, 20, 21, 0.38);
}
.feedback-slider__feedback-box p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}
.feedback-slider__feedback-box__shadow {
  box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
  padding: 40px 20px 20px;
}
.feedback-slider__arrows {
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  width: 48px;
  height: 48px;
  padding: 18px;
  z-index: 999;
  box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.28);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #ffffff;
}
.feedback-slider__arrows:hover {
  cursor: pointer;
  background-color: #ff5c36;
  color: #ffffff;
}
.arrow-left {
  left: 0;
  margin-left: -10px;
}
.arrow-right {
  right: 0;
  margin-right: -10px;
  padding-left: 20px;
}
.slick-dots li button:before {
  width: 18px;
  height: 6px;
  color: transparent;
  background-color: gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.feedback-slider .slick-active .slick-dots li button:before {
  background: #706b73;
}
.slick-dots li.slick-active button:before {
  color: transparent;
  background-color: #ff5c36;
}
