.button {
  opacity: 0.8;
  background-color: #fa9279;
  border: none;
  border-radius: 50px;
  margin-top: 3%;
  padding: 15px 35px;
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  color: #ffffff;
  font: .fontbase;
  font-size: 20px;
}
.fontbase {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.fontmiddle {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  color: #706b73;
}
.fontmin {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
body,
.row {
  margin: 0 auto;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
.section__header {
  margin-bottom: 5%;
  margin-top: 10%;
}
.section__header h2 {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  font-size: 50px;
}
.section__header span {
  color: #fa9279;
}
.section__header p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #706b73;
}
@keyframes animationfor-logo {
  33% {
    transform: rotate(2deg);
  }
  66% {
    transform: rotate(-2deg);
  }
  to {
    border: 4px solid #ff5c36;
  }
}
header {
  background: url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.main__container__row__logo-header {
  animation: animationfor-logo 0.5s infinite alternate;
  margin-top: 82px;
  margin-left: 150px;
  border: 4px solid #706b73;
  border-radius: 2px;
  width: 149px;
  height: 55px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__row__logo-header__first-letter {
  color: #fa9279;
}
.main__container__row__header--button-nav {
  margin-top: 82px;
  display: block;
  float: right;
  height: 30px;
  margin-bottom: 145px;
}
.main__container__main-text {
  clear: both;
  margin: 0 20%;
  color: #706b73;
}
.main__container__main-text h1 {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
}
.main__container__main-text h1 span {
  color: #ff5c36;
}
.main__container__main-text p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.main__container__form {
  position: relative;
  left: 0;
  top: 0;
  background-color: #ffffff;
  margin-top: 15%;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main__container__form p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  color: #706b73;
}
.main__container__form p span {
  color: #ff5c36;
}
.main__container__form input,
.main__container__form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  margin-top: 35px;
  font-size: 16px;
}
.main__container__form__btn {
  margin-top: 35px;
  width: 80%;
  height: 55px;
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #ff5c36;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  transition: all 1s;
}
.main__container__form__btn:hover {
  width: 250px;
  transform: scale(1.5);
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.5);
}
.section__header {
  margin-bottom: 222px;
}
.section__working_box {
  color: #ffffff;
  margin-bottom: 181px;
}
.section__working_box .fa {
  margin: 54px 100px 23px 100px;
  font-size: 50px;
}
.section__working_box h4 {
  margin-bottom: 8%;
}
.section__working_box p {
  padding: 0 48px 50px;
}
.section__working_box button {
  width: 80%;
  height: 55px;
  box-shadow: 0 0 14px rgba(20, 20, 21, 0.05);
  background-color: #ffffff;
  color: #000000;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  left: 0;
  top: 30px;
}
.box-tomi {
  background-color: #4eb2f7;
}
.koimona-set {
  background-color: #c049f8;
}
.setting-koire {
  background-color: #817eff;
}
.image-lara {
  background-color: #f74770;
}
.image-lara .fa-camera-retro {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.fea-works__box-images {
  position: relative;
  width: 360px;
  height: 358px;
  margin-bottom: 10px;
}
.fea-works__box-images img {
  width: 360px;
  height: 358px;
}
.fea-works__box-images .signature {
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
.fea-works__box-images .signature:hover {
  opacity: 1;
}
.fea-works__box-images .signature p {
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
  margin-top: 25%;
}
.fea-works__box-images .signature button {
  opacity: 0.8;
  background-color: #fa9279;
  border: none;
  border-radius: 50px;
  margin-top: 3%;
  padding: 15px 35px;
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
  color: #ffffff;
  font: .fontbase;
  font-size: 20px;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  padding: 0px;
  list-style-type: none;
}
.accordeon-test {
  margin-bottom: 150px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.accordeon-test .panel-group .panel-heading {
  background: #fa9279;
  color: #ffffff;
}
.accordeon-test a:hover,
.accordeon-test a:active {
  text-decoration: none;
}
.feedback-slider .slick-active {
  outline: none;
}
.feedback-slider__feedback-box {
  margin: 5%;
}
.feedback-slider__feedback-box__img {
  margin-bottom: -50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 rgba(20, 20, 21, 0.38);
}
.feedback-slider__feedback-box p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}
.feedback-slider__feedback-box__shadow {
  box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
  padding: 40px 20px 20px;
}
.feedback-slider__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  width: 48px;
  height: 48px;
  padding: 18px;
  z-index: 2;
  box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.28);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #ffffff;
}
.feedback-slider__arrows:hover {
  cursor: pointer;
  background-color: #ff5c36;
  color: #ffffff;
}
.arrow-left {
  left: 0;
  margin-left: -10px;
}
.arrow-right {
  right: 0;
  margin-right: -10px;
  padding-left: 20px;
}
.slick-dots li button:before {
  width: 18px;
  height: 6px;
  color: transparent;
  background-color: gray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.feedback-slider .slick-active .slick-dots li button:before {
  background: #706b73;
}
.slick-dots li.slick-active button:before {
  color: transparent;
  background-color: #ff5c36;
}
footer {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.footer__btn {
  box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
  border: 1px solid rgba(1, 2, 2, 0.07);
  background-color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  padding: 13px 35px;
  animation: zoomer 0.5s alternate infinite;
}
.popup {
  width: 300px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -150px;
  background-color: #ffffff;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -10px;
  font-size: 25px;
  color: #000000;
}
.popup-close:hover,
.popup-close:focus,
.popup-close:visited,
.popup-close:active {
  text-decoration: none;
}
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  opacity: 0;
}
#popup-1:target {
  display: block;
  opacity: 1;
}
#popup-2:target {
  display: block;
  opacity: 1;
}
/* -------------------------------- 

Modal Window

-------------------------------- */
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #1f4c74;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 2.4rem;
  }
}
/* -------------------------------- 

 Cover Layer - hide main content when modal is fired

-------------------------------- */
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  -moz-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
@keyframes zoomer {
  from {
    width: 13%;
  }
  to {
    width: 15%;
  }
}
