// color base
@color1: #706b73;
@black: #000;
@color2: #fa9279;
@color3: #ff5c36;
@bg-header: #f5f5f5;
@white: white;
@gray: #e0e0e0;
@color-tomi-box: #4eb2f7;
@color-coimona-set: #c049f8;
@color-setting-koire: #817eff;
@color-image-lara: #f74770;

// base settings
.button{
		opacity:0.8;
		background-color: @color2;
		border: none;
		border-radius: 50px;
		margin-top:3%;
		padding: 15px 35px; 
		box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
		color:@white;
		font: .fontbase;
		font-size: 20px;
}

.fontbase{ font-family: "Open Sans";
font-size: 38px;
font-weight: 600;
line-height: 42px;
}
.fontmiddle{
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
color:@color1;
}
.fontmin{
	font-family: "Open Sans";
	font-size: 16px;
font-weight: 400;
}

body, .row{margin: 0 auto;}


input, button, textarea{
	&:focus{
	outline: none;
	}
}

header{
	background: @bg-header url(../img/main-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.section__header{
	margin-bottom: 5%;
	margin-top: 10%;

	h2{
		.fontbase;
		font-size: 50px;
	}
	span{
		color:@color2;
	}
	p{.fontmin;
		color: @color1;
	}
}



//main block
.main{
	&__container{
	
		&__row{ 
			&__logo-header{
				margin-top: 82px;
				margin-left: 150px;
				border: 4px solid @color1;
				border-radius: 2px;
				 width: 149px; 
				 height: 55px;
				 text-align: center;
				 .fontbase;
				&__first-letter{
					color: @color2;
				}
			}

			&__header--button-nav{
				margin-top: 82px;
				display: block;
				float: right;
				
				height: 30px;

				
				&__line{
					position: relative;
					top:50%;
					display: block;
					
					width: 34px;
					height: 4px;
					border-radius: 20px;
					background-color: @color1;

					&:before, &:after{
						content: "";
						display: inline-block;
						width: 34px;
					height: 4px;
					border-radius: 20px;
					background-color: @color1;
					}
				}
				&__line:before{
				-webkit-transform: translateY(-3px);
				-ms-transform: translateY(-3px);
				-o-transform: translateY(-3px);
				transform: translateY(-3px);
					}
					&__line:after{
				-webkit-transform: translateY(-38px);
				-ms-transform: translateY(-38px);
				-o-transform: translateY(-38px);
				transform: translateY(-38px);

}
margin-bottom: 145px;
			}
		}

	&__main-text{
clear: both;
margin: 0 20%;
		color: @color1;
		h1{.fontbase;

		}
				h1 span{color:@color3;
				}
			p{.fontmin}
		}
		&__form{
background-color: @white;
margin-top: 15%;
padding: 35px;
-webkit-box-shadow: 0px 0px 57px 0px rgba(20,20,21,0.2);
box-shadow: 0px 0px 57px 0px rgba(20,20,21,0.2);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
			p{.fontmiddle;
				span{
					color: @color3;
				}
			}
			input, textarea{
				width: 100%;
				border: none;
				border-bottom: 1px solid;
				margin-top:35px;
				font-size: 16px;
			}
			&__btn{
				margin-top:35px;
				width: 238px;
				height: 55px;
				box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
				-webkit-border-radius: 27px;
				-moz-border-radius: 27px;
				-ms-border-radius: 27px;
				-o-border-radius: 27px;
				border-radius: 27px;
				border: 1px solid rgba(1, 2, 2, 0.07);
				background-color: @color3;
				color: @white;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 25px;
			}
		}// }form
	} // }container

}
.section__header{
	margin-bottom: 222px;
}

.section__working_box{
	color: @white;
	margin-bottom: 181px;
	// padding:0 48px;
	.fa{
		margin: 54px 100px 23px 100px;
		font-size:50px;
	}
	h4{margin-bottom: 8%;}
	p{padding: 0 48px 50px;}
	button{width: 228px;
		height: 55px;
		box-shadow: 0 0 14px rgba(20, 20, 21, 0.05);
		background-color: @white;
		color: @black;
		border:none;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-ms-border-radius: 50px;
		-o-border-radius: 50px;
		border-radius: 50px;
		position:absolute;
		left:29px;
		top:235px;
		}
}
.box-tomi{
	background-color: @color-tomi-box;
}
.koimona-set{
	background-color:@color-coimona-set;
}
.setting-koire{
	background-color:@color-setting-koire;
}
.image-lara{
	background-color:@color-image-lara;
	.fa-camera-retro{
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	}
}

.fea-works{
	&__box-images{
		position: relative;
		width: 360px;
		height: 358px;
		margin-bottom: 10px;
		img{
			width: 360px;
		height: 358px;
			}
		

.signature{ 
	transition: opacity 0.3s;
	opacity: 0;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
background: rgba(50,50,50,0.5);	
				&:hover{
					opacity:1;
					}
					p{.fontbase;
						color:@white;
						margin-top: 25%;}
	button{
		opacity:0.8;
		background-color: @color2;
		border: none;
		border-radius: 50px;
		margin-top:3%;
		padding: 15px 35px; 
		box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
		color:@white;
		font: .fontbase;
		font-size: 20px;
	}

				}
			}	
}

//section services
.nav-tabs>li>a, 
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
		border:none;padding:0px;
		list-style-type: none;

}
.accordeon-test{
	.panel-group{
		.panel-heading{background:@color2;
color:@white;
		}
		}

	margin-bottom: 150px;
	.fontmin;
	a{
		&:hover, &:active{
		text-decoration: none;
	}
	}
}

	.feedback-slider{
		.slick-active{
		outline: none;
	}
		&__feedback-box{
			
			margin:5%;
			&__img{
margin-bottom:-50px;
width: 100px;
height: 100px;
box-shadow: 0 0 0 rgba(20, 20, 21, 0.38);

			}
			p{.fontmin;
				margin-top: 25px;
			}
		&__shadow{
			box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
		padding:40px 20px 20px;
	}
		}
		&__arrows{
			position:absolute;
			top: 50%;
			-webkit-transform: translateY(-9px);
			-ms-transform: translateY(-9px);
			-o-transform: translateY(-9px);
			transform: translateY(-9px);
			width: 48px;
			height: 48px;
			padding: 18px;
			z-index: 2;
			box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.28);
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			border-radius: 50px;
			background-color:@white;
&:hover{			


cursor: pointer;
background-color: @color3;
color:@white;

}
		}
		
	}
.arrow-left{
		left:0;
		margin-left: -10px;
		}

.arrow-right{
			right:0;
			margin-right: -10px;
			padding-left: 20px;
		}

// .slick-dots li button{
// 	width: 18px;
// 	height: 6px;
// 	background-color: @color1;
// }
.slick-dots li button:before{
	width: 18px;
	height: 6px;
	color: transparent;
	background-color: gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.feedback-slider .slick-active .slick-dots li button:before{
background: @color1;
}

.slick-dots li.slick-active button:before{
	color: transparent;
	background-color:@color3;
}

footer{
	padding:50px 0;
	background-color: @bg-header;
}

.footer{
	&__btn{
box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
border: 1px solid rgba(1, 2, 2, 0.07);
background-color: @white;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
border-radius: 50px;
padding: 13px 35px;
	}
}

.popup{

	&-close{
		position:absolute;
		top: 0;
		right: 0;	
		margin-top: -10px;
		font-size: 25px;
		color: @black;
		&:hover, &:focus, &:visited , &:active{
			text-decoration: none;
		}
	}
	width: 300px;
	height: 350px;
	position:absolute;
	left:50%;
	top:25%;
	margin-left: -150px;
	background-color: @white;
	&-overlay{
		position:fixed;
		width: 100%;
		height: 100vh;
		top:0;
		left:0;
		background-color: rgba(0,0,0,0.5);
		z-index: 3;
		display: none;
		opacity:0;
	}
}

#popup-1:target{
	display:block;
	opacity:1;
}

#popup-2:target{
	display:block;
	opacity:1;
}